*{
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;

}
.parallax-window{
  width:100%;
}

.navbar a{
  color: #ffffff;
}

.dropdown-menu a{
  color: #212529;
}
.btn-search{
  background-color: #ffffff;
  color: #212529;
  border-color: #ffffff;
}
.btn-search:hover{

  border-color: #ffffff;
  color: white
}
.res-icon{
  color: white;
  margin-top: 5px;
}

@media screen and (max-width: 1440px) {
  .navbar{
    width:100%;
  }
}
