*{
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;

}
.parallax-window{
  width:100%;
}

.navbar a{
  color: #ffffff;
}

.dropdown-menu a{
  color: #212529;
}
.btn-search{
  background-color: #ffffff;
  color: #212529;
  border-color: #ffffff;
}
.btn-search:hover{

  border-color: #ffffff;
  color: white
}

.mybtn{
  border: 1px solid #d1d1d1;
  color: #767676;
}

.res-icon{
  color: white;
  margin-top: 5px;
}
.posts_style{
  height: 37%;
  width: 100%;
  max-width: 100%;
}


@media screen and (max-width: 1440px) {
  .navbar{
    width:100%;
  }
}
