
*{
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}
html,
body,
header,
.view {
  height: 100%;
  width:100%;
}
body{
  width: 100%;
  max-width: 100%;
}
.posts_style{
  height: 37%;
  width: 100%;
  max-width: 100%;
}

.container{
  padding:0;
  margin:0 auto;
  position: relative;
  top:45%;
}
.parallax-window{
  width:100%;
}

.breadcrumb{
  position: relative;
  top:35%;
  margin-top: 150px;
}

.lookboard{
  background-color: white;
  margin: 0 auto ;
  border-radius: 4px;
  border: 1px solid transparent;
  position: relative;
  text-decoration: none;
  box-shadow: 0 3px 8px rgba(0,0,0,0.3);
  width: 100%;
  top:28%;
  margin-top: 40px;
  height: 300px;
}

.lookboard-content{
  font-size: 17px;
  color:#565867;
}

.comment_form{
  width: 100%;
}
.comment{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top:40%;
  width:50%;
  margin: 0 auto;
}




@media(max-width: 960px){
  .lookboard{
    width: 100%;
  }
}
@media(max-width: 700px){
.container{
  width:100%;
}
  .lookboard{
 width: 100%;
}
  .breadcrumb{
    margin-top: 150px;
  }
}
@media(max-width: 460px){
  .parallax-mirror{
    width:100%!important;
  }
   .parallax-slider{
     width:100%!important;
    max-width:100%!important;
  }
   .container{
     width: 90%;
   }
  .breadcrumb{
margin-top: 100px;
  }
  body{
    width: 100%;
    max-width: 100%;

  }
}

.highlighted {
  background-color: yellow;
}
.post-body,
.comment-text {
  white-space: pre-line;
}

.comment-edit,
.comment-reply,
.comment-edit-enabled .comment-show {
  display:none;
}

.comment-edit-enabled .comment-edit,
.comment-edit-enabled .comment-edit,
.comment-reply-enabled .comment-reply {
  display:inherit;
}
