.zoom-gallery{

  margin: 20px auto;
  max-width: 1200px;
  padding:20px;
  position: relative;
}
.img-area {
  position: relative;
  column-count: 3;
  column-gap:20px;
  column-width:3.3vw;
}
.zzz{
  width: 1280px;
  max-width: 1280px;
  height: auto;
}
.fixed {
  position: fixed;
  top: 0;

}
.spotimage{
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 500px) and (max-width: 750px){
  .img-area{
      column-count: 2;
      column-width: 1.5vw;
  }
}
@media screen and (max-width: 499px){
  .img-area{
    column-count: 1;
    column-width: 1vw;
  }
}

.downloadbtn{
  color:red;
  border: 1px solid greenyellow;
}

.image-source-link {
  color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
