.container{

  margin: 20px auto;
  max-width: 1200px;
  padding:20px;
  position: relative;
}
.img-area {
  position: relative;
  column-count: 3;
  column-gap:20px;
  column-width:3.3vw;
}

.fixed {
  position: fixed;
  top: 0;

}
.spotimage{
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 500px) and (max-width: 750px){
  .img-area{
      column-count: 2;
      column-width: 1.5vw;
  }
}
@media screen and (max-width: 499px){
  .img-area{
    column-count: 1;
    column-width: 1vw;
  }
}

