.write-board{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
}

.write-board-inner{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  width: 40%;
}

.lookboard-pic{
  background: url("../images/maple.jpg") center;
  position: relative;
  width:100%;
  height: 30vh;
  opacity: 0.9;
}

.section-main-title{
  margin-bottom: 30px;
  color:white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 17%;
  width: 100%;
  margin: 0 auto;
}
#section-title{
  font-size:42px;
  font-weight: bold;
  line-height: 1.5;
  color:white;
  text-align: left;
  max-width: 100%;
}

#section-writer{
  color: white;
  font-size: 22px;
  margin:0;
}
#section-date{
  color: white;
  font-size: 13px;
}


.board-title{
  width:100%;
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.board-writer{
  width:100%;
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.board-content{
  width:100%;
  height: 250px;
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.write-inner-btn{

  position: relative;
  width:17%;
  color: #fff;
  background-color: #111;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  transition: all .1s ease-in-out;
  text-align: center;
  margin: 20px auto;
}


@media(max-width: 960px){
  .write-board{
    width: 100%;
  }
  .write-board-inner{
    width:90%;
    align-items: center;
  }
  .board-title,
  .board-writer {
   width: 90%;
  }

  .board-content{
    width: 89%;
    height: 300px;
  }
}


