<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link href="css/aboutus.css" rel="stylesheet">
    <link href="css/normal_header.css" rel="stylesheet">
  </head>
  <body>
    <%- include('../partials/normal_header') %>

    <main role="main">

      <div class="container ">
        <div class="row feature about_main">
          <div class="col-md-5 about_main_text">
            <h5 class=" about_main_title">HisWorks is</h5>
            <div class="about_main_subtitle">
              자세히 보아야 예쁘다고 하는 어느 시인의 말처럼 보면 볼수록 아름다운 세상을 선물로 받아살아가고 있음에 감사하며, 세상을 만드신 그 분의 작품 중 한 조각을 담아 공유한다.
              함께 감사하며 살기를 바라는 마음으로...
            </div>
<!--         As a poet said, "It's pretty when you look closely," I'm grateful that the more you look at it, the more you get to live in a beautiful world as a gift, and I share it with one of the pieces of the person who created the world.-->
<!--              With the hope of living together with gratitude...-->
<!--            <div class="contact_btn">-->
<!--              <button type="button" class="btn us_btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Contact us</button>-->
<!--              <button type="button" class="btn start_btn">Start browsing</button>-->
<!--            </div>-->

          </div>
          <div class="col-md-7">
            <img class="main-img img-fluid mx-auto" src="images/daldae.jpg" alt="Generic placeholder image">
          </div>
        </div>

        <!--modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">문의하기</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="name" class="col-form-label">이름</label>
                    <input type="text" class="form-control" id="name">
                  </div>
                  <div class="form-group">
                    <label for="email" class="col-form-label">Email</label>
                    <input type="text" class="form-control" id="eamil">
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">메세지</label>
                    <textarea class="form-control" id="message-text"></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
              </div>
            </div>
          </div>
        </div>


        <!-- START THE FEATURETTES -->

        <div class="view parallax-window " data-parallax="scroll" data-image-src="images/river.jpg"
             style=" background-repeat: no-repeat; background-size: cover; background-position: center center;">
          <div class="pal-text">
            <div id="pal_main"></div>
            <div id="pal_sub"></div>
          </div>
        </div>


        <hr class="featurette-divider">


        <!-- Three columns of text below the carousel -->
        <div class="container marketing ">
          <div class="row">
            <div class="col-lg-4">
              <img class="" src="images/about1.jpg" alt="Generic placeholder image" width="320" height="200">
              <h2>보시기에 좋았더라</h2>
<!--Obviously excerpted in the eyes of the good-->
              <p>하나님이 이 아름다운 세상을 만들고 스스로 하신 말씀이다.</p>
<!--          God made this beautiful world and said it himself.    -->
<!--              <p><a class="btn three_btn" href="#" role="button">View details</a></p>-->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="" src="images/about2.jpg" alt="Generic placeholder image" width="320" height="200">
              <h2>Scenery</h2>
              <p>   오늘도 선물로 받은 하루를 시작하며 들녘을 나서면 풀잎에 맺힌 이슬방울, 들꽃 한송이가 반갑게 인사한다. 계절마다 다채로운 모습으로 옷을 갈아 입으며 생명의 신비함을 드러내는 풍경이 우리를 행복하게 한다.</p>
<!-- Starting the day I received as a gift today, when I leave the field, dewdrops and wild flowers on the grass will greet me. in a variety of seasonal forms
                The scenery that reveals the mystery of life while changing clothes makes us happy.          -->
              <!--              <p><a class="btn three_btn" href="#" role="button">View details</a></p>-->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="" src="images/about3.jpg" alt="Generic placeholder image" width="320" height="200">
              <h2>word</h2>
              <p>  하나님이 우리에게 주신 또 다른 선물은 말씀이다, 우리에 대한 사랑을 표현하고 우리가 살아갈 방향과 지침을 세심하게 알려주시는 한 말씀 한 말씀이 우리가 의지할 힘이기에 말씀을 담아 새겨본다.</p>
<!--   God has given us another gift is expressing love for us, tell me where we have to live on the instructions and carefully give me a word.
                Engraved with the word because it is a word we were to fall back on power.         -->
<!--              <p><a class="btn three_btn" href="#" role="button">View details</a></p>-->
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
<!--            <h2 class="featurette-heading">Oh yeah, it's that good.</h2>-->
            <p class="lead">
              HisWoks는 선물로 받은 우리 주변의 풍경을 틈틈이 사진으로 담아 아름다움을 함께 누리기 위해 무료로 제공합니다.
              사진을 자유롭게 활용하실 수 있으나, 비상업적으로만 사용해 주시고, 가능하면 출처를 밝혀 주시면 감사하겠습니다. 오늘도 감사한 날 되시길 소망합니다.
            </p>
<!-- Hiswoks a gift from time to time the landscape around us with pictures of beauty with free to enjoy together.
              Noncommercial only, but can take advantage of the pictures freely and to reveal the source, if possible, would be appreciated. Today, thank you very much wish I wish you the day.           -->

          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto sub-photo" src="images/snowman.jpg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="footer_line">

        <!-- /END THE FEATURETTES -->
        <footer class="footer">
          <div class="container footer_text">

            <span class="footer_width">COPYRIGHTⒸ2020 HisWorks All right reserved.</span>
<!--            <span class="footer_width">저작권</span>-->
            <span class="footer_width"></span>
            <span class="footer_width"><a class="ins-ic" href="https://www.instagram.com/_hisworks_yang/" style="color:#767676">Instagram
                  <i class="fab fa-instagram fa-lg white-text  fa-2x"></i>
                </a></span>
          </div>
        </footer>
      </div>
    </main>
    <script type="text/javascript" src="js/normal_header.js"></script>
    <script src="js/parallax.js"></script>
  </body>
</html>
